<footer>
    <table id="footer-table">
      <tr>
        <th>SeeMore Opticans</th>
        <th>Opening hours</th>
        <th>Follow Us</th>
      </tr>
      <tr>
        <td>02-523</td>
        <td>Mon-Fri 11:00-19:00</td>
        <td>Facebook</td>
      </tr>
      <tr>
        <td>Warsaw</td>
        <td>Sat 11:00-15:00</td>
        <td>Instagram</td>
      </tr>
      <tr>
        <td>Prymusa 5</td>
        <td>Sun Closed</td>
        <td></td>
      </tr>
    </table>
  </footer>