<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <title>Kowalski Opticans</title>
    <link rel="stylesheet" href='/css/style.css' type="text/css" />
  
  </head>