<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

  <%- include('./partials/nav.ejs') %>
  <article>
    <h2>Lockdown Update</h2>

    <p>Page doesn't exist
      <ol class="list2">
        <li>Masks</li>
        <li>Gloves</li>
        <li>Face shields</li>
        <li>Sanitizers</li>
      </ol>
  </article>

  <%- include('./partials/footer.ejs') %>
</body>

</html>