<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <header>
    <h1 id="shop-name">
      SeeMore</h1>
  </header>

  <%- include('./partials/nav.ejs') %>
  <article>
    <h2>Lockdown Update</h2>
    <p>SeeMore Opticans is still open for eye examinations and contact lenses checks. We are working by appointment only
      to control the flow of patients. Please contact us in advance. For your safety our custumer advisors use:
      <ol class="list2">
        <li>Masks</li>
        <li>Gloves</li>
        <li>Face shields</li>
        <li>Sanitizers</li>
      </ol>
  </article>

  <footer>
    <table id="footer-table">
      <tr>
        <th>SeeMore Opticans</th>
        <th>Opening hours</th>
        <th>Follow Us</th>
      </tr>
      <tr>
        <td>02-523</td>
        <td>Mon-Fri 11:00-19:00</td>
        <td>Facebook</td>
      </tr>
      <tr>
        <td>Warsaw</td>
        <td>Sat 11:00-15:00</td>
        <td>Instagram</td>
      </tr>
      <tr>
        <td>Prymusa 5</td>
        <td>Sun Closed</td>
        <td></td>
      </tr>
    </table>
  </footer>
</body>

</html>